
// Font Stacks
// ===========

$font-family-sans             : "PT Sans", sans-serif;
$font-family-serif            : "PT Serif", Georgia, serif;
$font-family-display          : "PT Sans Narrow", sans-serif;
$font-family-caption          : "PT Sans Caption", Verdana, sans-serif;
$font-family-monospace        : "Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace;

$font-family-default          : $font-family-serif;


// Font Weights
// ============

$font-weight-light             : 300;
$font-weight-normal            : 400;
$font-weight-semibold          : 700;
$font-weight-bold              : 900;


// letter-spacing: 1px;
