
.bar {

	width: 100%;
	height: 0;

	background-color: $color-bar; /*#333;*/

 	@include transition;
}



.bar-top {

	@extend .bar;
}


.bar-bottom {

	@extend .bar;

	bottom: 0;
	position: absolute;
}

.bar-enabled {

	height: 10%;
}
