/*
.profile {

	height: 10%;
}
*/
/* Menu */
/*
.list {

	margin	: 0;
	padding	: 0;
	border	: 0;
	list-style: none;

	height: 100%;
}
*/
/*
.wrapper {

	width: 80%;

	margin: 0 auto;
	overflow: hidden;
}
*/
/*

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}*/
/*
.info > li {

	float: left;
	margin: 0 10px;
}


.peer {

	right: 0;
}*/
